button {
    width: 200px;
    height: 40px;
    font-size: large;
    background-color: blueviolet;
    color: aliceblue;
    border: 0cap;
    border-radius: 5px;
    transition: 0.2s;
    cursor: pointer;
}

button:hover{
    background-color: aliceblue;
    color: black;
}