
:root * {
--bg1: var(--Ga10);
--bg2: var(--Ga10);
--bg3: var(--Ga9);
--bg1_float: var(--Ga9);
--bg2_float: #000000;
--text1: var(--Wh0);
--text2: var(--Wh0);
--line_light: var(--Ga10);
--graph_bg_thin: var(--Ga9);
--bpx-dmsend-main-bg: var(--Ga9);
--graph_bg_regular: #383a3f9e;
--graph_bg_thick: var(--Ga8);
--bpx-dmsend-input-bg: #000000;
--line_regular: #5e5e5e;
--bpx-aux-header-bg: #383a3f9e;
--bpx-aux-footer-bg: #383a3f9e;
--bpx-aux-content-bg: #383a3f9e;
--bpx-aux-content-font1: rgb(255, 255, 255);
}

