
:root * [color-mode='dark']{
    --bg1: var(--Ga10);
    --bg2: var(--Ga10);
    --bg3: var(--Ga9);
    --bg1_float: var(--Ga9);
    --bg2_float: #000000;
    --text1: var(--Wh0);
    --text2: var(--Wh0);
    --line_light: var(--Ga10);
    --graph_bg_thin: var(--Ga9);
    --bpx-dmsend-main-bg: var(--Ga9);
    --graph_bg_regular: #383a3f9e;
    --graph_bg_thick: var(--Ga8);
    --bpx-dmsend-input-bg: #000000;
    --line_regular: #5e5e5e;
    --bpx-aux-header-bg: #383a3f9e;
    --bpx-aux-footer-bg: #383a3f9e;
    --bpx-aux-content-bg: #383a3f9e;
    --bpx-aux-content-font1: rgb(255, 255, 255);
    }
:root * [color-mode='light']{
    --bg1: var(--Wh0);
    --bg2: var(--Ga0);
    --bg3: var(--Ga1);
    --bg1_float: var(--Ga11);
    --bg2_float: var(--Ga12);
    --text1: var(--Ga10);
    --text2: var(--Ga7);
    --line_light: var(--Wh0);
    --graph_bg_thin: var(--Wh0);
    --bpx-dmsend-main-bg: var(--Wh0);
    --graph_bg_regular: var(--Wh0);
    --graph_bg_thick: white;
    --bpx-dmsend-input-bg: white;
    --line_regular: var(--Ga2);
    --bpx-aux-header-bg: var(--graph_bg_regular);
    --bpx-aux-footer-bg: var(--graph_bg_regular);
    --bpx-aux-content-bg: var(--bg1);
    --bpx-aux-content-font1: black;
    }